 body {
    color: rgb(255, 255, 255);
    font-size: large;
    /*Image found at -> https://t4.ftcdn.net/jpg/02/15/94/83/360_F_215948377_kgIhNUy4X0iYsyUfYd9KKIViSPOxclbC.jpg*/
    background-image: url(ImageFiles/StarBackground.jpeg);
 }

 header {
    width: auto;
    text-align: center;
 }

 nav {
    font-size: larger;
    width: auto;
    text-align: center;
 }

 .about {
    width: auto;
    text-align: center;
 }

 .mission {
    width: auto;
    text-align: center;
 }

 .contact {
    width: auto;
    text-align: center;
 }
